@font-face {
    font-family: 'charge_vectorregular';
    src: url('charge_vector-webfont.woff2') format('woff2'),
         url('charge_vector-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charge_vector_thinregular';
    src: url('charge_vector_thin-webfont.woff2') format('woff2'),
         url('charge_vector_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charge_vector_boldregular';
    src: url('charge_vector_bold-webfont.woff2') format('woff2'),
         url('charge_vector_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charge_vector_blackregular';
    src: url('charge_vector_black-webfont.woff2') format('woff2'),
         url('charge_vector_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}